.card {
  width: 350px;
  margin-bottom: 20px;
  border-radius: 8px;
  border-right: 5px solid $verde;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: -3px 2px 3px 0px $preto2;
  position: relative;
  background-color: $branco1;
  @media screen and(max-width: 900px) {
    width: 250px;
  }
  @media screen and(max-width: 800px) {
    width: 300px;
  }
}

.button-a {
  float: right;
  border: 1px solid $preto2;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 1px 3px $preto2;

  &:hover {
    border-color: $verde;
    color: $verde;
  }
}

.btn-cadastrar {
  margin-top: 300px !important;
}

.btn-adicionar {
  position: absolute;
  right: 2px;
  bottom: 2px;
}


// multstep
.step {
  display: none;
  position: relative;
}

.step.active {
  display: block;
}

.button-container {
  position: absolute;
  right: 0;
  bottom: 0px;
  button{
    font-size: 11px;
    padding: 5px;
  }
}

.content-cadastro {
  display: flex;
  gap: 30px;
}



// CSS Visualizacao fotos
.image-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
}

.thumbnail {
  display: inline-block;
  margin-right: 10px;
}

.image-list img {
  width: 40px;
}

#incluir-foto{
  font-size: 10px;
  margin-bottom: -10px;
  margin-right: -10px;
  padding: 8px;
}

// inclusao de documentos

.document-list li {
  text-transform: uppercase;
}